
<style>

.no-border {
  box-shadow: -5px 0px 35px -20.0px #888888;
}

</style>


<div class="d-flex side-bar-container">
  <%= render partial: "/layouts/side_bar"%>

  <div class="container">
    <div class="d-flex justify-content-end">
      <div class="p-2">
        <div class="card p-3 no-border">
          <div class="image d-flex flex-column align-items-center"> 
            <div class="btn btn-white"> 
              <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
            </div>
            <span class="name mt-3"><%= current_user.name.capitalize %></span> 
            <span class="idd">Privileges: <%= current_user.role.capitalize %></span> 
            <div class=" d-flex mt-2"> 
              <button class="btn1 btn-dark">Edit Profile</button> 
            </div> 
              <div class=" px-2 rounded mt-4 date "> 
              <span class="join">Joined <%= time_ago_in_words(current_user.created_at) + " ago"%></span> 
            </div> 
          </div> 
        </div>
      </div>
    </div>
  </div>

  <script>
      function toggleSidebar() {
          const sidebar = document.querySelector('.sidebar');
          sidebar.classList.toggle('collapsed');
      }
  </script>
</div>