<div class="container my-5">
  <h4><strong>Where you’ll be</strong></h4>
  <div class="my-3">
    <p class="text-muted">
      <i class="fas fa-map-marker-alt text-black"></i>
      <strong>63 Sir Samuel Lewis Road. Aberdeen, Freetown, Sierra Leone</strong>
    </p>
  </div>

  <div class="row align-items-center my-4">
    <!-- Map Column -->
    <div class="col-lg-12 mb-4 mb-lg-0">
      <div class="map-container">
        <!-- Replace with your actual location coordinates -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.064141554188!2d-13.277012399999998!3d8.4931448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xf04c502e3237915%3A0xc4af2d8fe65473ec!2sVenue%20360%20sl!5e0!3m2!1sen!2ssl!4v1746483410031!5m2!1sen!2ssl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</div>
