<!-- Header/Navbar -->
<%# byebug %>
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
  <div class="container">
    <%= link_to 'Venue 360', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Anywhere </a>
        </li>
        <span class="py-2 txt-color">|</span>
        <li class="nav-item">
          <a class="nav-link" href="#">Any Week</a>
        </li>
        <span class="py-2 txt-color">|</span>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Guests</a>
        </li>
      </ul>
      <div class="d-flex ml-a">
        <% if current_user %>
          <%= link_to "Profile", user_profile_path(current_user.id), class: "btn btn-outline-custom mx-1"%>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-custom" %>
        <% else %>
          <button class="btn btn-outline-custom me-2" id="openLoginModal">Log in</button>
          <button class="btn btn-outline-custom" id="openSignupModal">Sign up</button>
        <% end %>
        <%= link_to "Contact Us", new_inquiry_path(), class: "btn btn-outline-custom mx-1"%>
      </div>
    </div>
  </div>
</nav>